@charset "UTF-8";
.spa-chat {
  border-radius: 0.5em 0 0 0;
  border-style: solid;
  border-width: thin 0 0 thin;
  border-color: #888; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px; }

ol, ul, dl {
  list-style-position: inline; }

body {
  font: 13px "Hiragino Kaku Gothic ProN", Meiryo, "メイリオ", "Lucida Grande", sans-serif; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: inherit; }
  a:hover {
    text-decoration: underline; }

strong {
  font-weight: 800;
  color: #000; }

#spa {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  min-height: 500px;
  min-width: 500px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 8px 0 8px; }

.spa-x-clearfloat {
  height: 0 !important;
  float: none !important;
  visibility: hidden !important;
  clear: both !important; }

.spa-chat {
  border-radius: 0.5em 0 0 0;
  border-style: solid;
  border-width: thin 0 0 thin;
  border-color: #888; }

.spa-shell-head, .spa-shell-head-logo, .spa-shell-head-acct,
.spa-shell-head-search, .spa-shell-main, .spa-shell-main-nav,
.spa-shell-main-content, .spa-shell-foot,
.spa-shell-modal {
  position: absolute; }

.spa-shell-head {
  top: 0;
  right: 0;
  left: 0;
  height: 40px; }

.spa-shell-head-logo {
  top: 4px;
  left: 4px;
  width: 128px;
  height: 32px;
  background: orange; }

.spa-shell-head-acct {
  top: 4px;
  right: 0;
  width: 64px;
  height: 32px;
  background: green; }

.spa-shell-head-search {
  top: 4px;
  right: 64px;
  width: 248px;
  height: 32px;
  background: blue; }

.spa-shell-main {
  top: 40px;
  left: 0;
  bottom: 40px;
  right: 0; }

.spa-shell-main-content,
.spa-shell-main-nav {
  top: 0;
  bottom: 0; }

.spa-shell-main-nav {
  width: 250px;
  background: #eee; }

.spa-x-closed .spa-shell-main-nav {
  width: 0; }

.spa-shell-main-content {
  left: 250px;
  right: 0;
  background: #ddd; }

.spa-x-closed .spa-shell-main-content {
  left: 0; }

.spa-shell-foot {
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px; }

.spa-shell-modal {
  margin-top: -200px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 3px;
  z-index: 2;
  display: none; }

/*
 * spa.chat.css
 * Chat feature styles
*/
.spa-chat {
  border-radius: 0.5em 0 0 0;
  border-style: solid;
  border-width: thin 0 0 thin;
  border-color: #888; }

.spa-chat {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  width: 25em;
  height: 2em;
  box-shadow: 0 0 0.75em 0 #888;
  z-index: 1; }

.spa-chat-head, .spa-chat-closer {
  position: absolute;
  top: 0;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, "メイリオ", "Lucida Grande", sans-serif;
  background: #fff;
  height: 2em;
  line-height: 1.8em;
  border-bottom: thin solid #888;
  cursor: pointer;
  color: white;
  font-weight: 800;
  text-align: center; }

.spa-chat-head {
  left: 0;
  right: 2em;
  border-radius: 0.3em 0 0 0; }

.spa-chat-closer {
  right: 0;
  width: 2em; }

.spa-chat-closer:hover {
  background: #800; }

.spa-chat-head-toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 2em;
  bottom: 0;
  border-radius: 0.3em 0 0 0; }

.spa-chat-head-title {
  position: absolute;
  left: 50%;
  width: 16em;
  margin-left: -8em; }

.spa-chat-sizer {
  position: absolute;
  top: 2em;
  right: 0;
  left: 0; }

.spa-chat-msgs {
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 4em;
  left: 1em;
  padding: 0.5em;
  border: thin solid #888;
  overflow-x: hidden;
  overflow-y: scroll; }

.spa-chat-box {
  position: absolute;
  right: 1em;
  bottom: 1em;
  left: 1em;
  height: 2em;
  border: thin solid #888;
  background: #888; }

.spa-chat-box input[type=text] {
  float: left;
  width: 75%;
  height: 100%;
  padding: 0.5em;
  border: 0;
  background: #ddd;
  color: #404040; }

.spa-chat-box input[type=text]:focus {
  background: #fff; }

.spa-chat-box div {
  float: left;
  width: 25%;
  height: 2em;
  line-height: 1.9em;
  text-align: center;
  color: #fff;
  font-weight: 800;
  cursor: pointer; }

.spa-chat-box div:hover {
  background-color: #444;
  color: #ff0; }

.spa-chat-head:hover .spa-chat-head-toggle {
  background: #aaa; }
