@import 'global';

.spa-shell-head,
.spa-shell-head-logo,
.spa-shell-head-acct,
.spa-shell-head-search,
.spa-shell-main,
.spa-shell-main-nav,
.spa-shell-main-content,
.spa-shell-foot,
.spa-shell-modal {
  @include locale();
}

.spa-shell-head {
  @include position(0, 0, false, 0);
  height: 40px;
}

.spa-shell-head-logo {
  @include position(4px, false, false, 4px);
  background: '#ffa500';
  height: 32px;
  width: 128px;
}

.spa-shell-head-acct {
  @include position(4px, 0);
  background: '#008000';
  height: 32px;
  width: 64px;
}

.spa-shell-head-search {
  background: '#00f';
  height: 32px;
  right: 64px;
  top: 4px;
  width: 248px;
}

.spa-shell-main {
  bottom: 40px;
  left: 0;
  right: 0;
  top: 40px;
}

.spa-shell-main-content,
.spa-shell-main-nav {
  bottom: 0;
  top: 0;
}

.spa-shell-main-nav {
  background: '#eee';
  width: 250px;
}

.spa-x-closed .spa-shell-main-nav {
  width: 0;
}

.spa-shell-main-content {
  background: '#ddd';
  left: 250px;
  right: 0;
}

.spa-x-closed .spa-shell-main-content {
  left: 0;
}

.spa-shell-foot {
  bottom: 0;
  height: 40px;
  left: 0;
  right: 0;
}

.spa-shell-modal {
  background: '#fff';
  margin-top: -200px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  border-radius: 3px;
  z-index: 2;
  display: none;
}
