$elem_h           : h1, h2, h3, h4, h5, h6;
$elem_list_parent : ol,ul,dl;
$font-family : 'Hiragino Kaku Gothic ProN', Meiryo, 'メイリオ', 'Lucida Grande', sans-serif;

$color-strong     : #000;
$color-background : #fff;

$color-chat-main  : #fff;
$color-chat-asort : #888;
